body{
    background-color:  rgb(238, 229, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    overflow: hidden;
}

header img {
  margin-left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
}
      
